* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	font-family: Verdana;
	font-size: 16px;
}

body {
	color: #666;
	max-width: 1200px;
	margin: auto;
}

.frame {
	min-height: 120vh;
	display: flex;
	flex-direction: column;
	user-select: none;
	background: rgb(255, 255, 225);
}

header {
	height: 50px;
	margin-bottom: 20px;
	background: purple;
	/* background: steelblue; */
	color: white;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.controls {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: yellow; */
	margin-bottom: 20px;
}

main {
	flex-grow: 1;
	/* background: yellow; */
}

footer {
	margin: 2px;
	padding-top: 10px;
	background: purple;
	/* background: steelblue; */
	color: white;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: text;
}
footer > p {
	text-align: center;
}

.date-selector {
	height: 50px;
	max-width: 320px;
	margin: 0px auto;
	border-radius: 25px;
	margin-bottom: 20px;
	font-size: 1.5rem;
	border: 1px solid lightgrey;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	background: white;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.date-selector > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prev,
.next {
	width: 65px;
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
	background: rgb(241, 241, 241);
	color: #444;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.filter p {
	margin: 5px;
	padding: 10px 12px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	background: white;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

table {
	border-collapse: collapse;
}

.card {
	margin: 0px 10px 30px 10px;
	border-radius: 15px;
	overflow: hidden;
	background: white;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card-head {
	padding: 7px 15px;
	background: #3d4149;
	color: white;
}

.card-head .name {
	font-size: 1.25rem;
}

.doses {
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
}

.age-group {
	width: 50%;
}

.age {
	width: 80%;
	/* padding: 2px; */
	font-size: 1.4rem;
	font-weight: bold;
	/* border-bottom: 1px solid lightgrey; */
}

.age18 {
	color: orangered;
}
.age45 {
	color: indigo;
	color:dodgerblue;
}

.y18,
.y45 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.age-group:first-child {
	border-right: 1px solid lightgray;
}

.age-group p {
	text-align: center;
}

p.type {
	font-weight: bold;
	min-width: 120px;
	margin: 10px 0px;
	padding: 2px 10px;
	border-radius: 20px;
	overflow: hidden;
}

.COVISHIELD {
	background: dodgerblue;
	background: indigo;
	color: white;
}

.COVAXIN {
	background: orangered;
	color: white;
}

.d1,
.d2 {
	width: 95px;
	margin-bottom: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.15rem;
	/* border:1px solid lightgrey; */
	padding: 0px 10px;
	border-radius: 5px;
	/* background:rgb(235, 238, 240); */
}
.d1t,
.d2t {
	padding: 1px;
	font-size: 0.95rem;
	/* font-weight: bold; */
}
.d1q,
.d2q {
	padding: 1px 5px;
	font-weight: bold;
	border-radius: 3px;
}
.avl {
	font-weight: bold;
	background: yellow;
	color: #444;
	border: 1px solid lightgrey;
}

.nodata {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: crimson;
	transition: all 2s ease-in-out;
}

.data-source {
	padding: 10px;
	font-size: 1rem;
}

.nodata,
.fetching {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.collapsed {
	height: 0px;
	overflow: hidden;
	transition: all 5s ease-in-out;
}

.counter {
	/* background:yellow; */
	padding: 10px;
}

.contact {
	width: 80%;
	padding: 5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background:yellow; */
	border-top: 1px solid rgb(160, 1, 160);
	font-size: 0.75rem;
}
.contact-me {
	margin: 5px 20px;
	padding: 5px 10px;
	border-radius: 5px;
	background: rgb(248, 248, 139);
	text-decoration: none;
}

.filter .set {
	background: yellow;
	color: #444;
}

.hidden {
	display: none;
}
