* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	font-family: Verdana;
	font-size: 16px;
}

body {
	color: #666;
	max-width: 1200px;
	margin: auto;
}

.frame {
	min-height: 120vh;
	display: flex;
	flex-direction: column;
	user-select:none;
}

header {
	height: 70px;
	margin-bottom: 20px;
	background: purple;
	color: white;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.controls {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: yellow; */
	margin-bottom: 20px;
}

main {
	flex-grow: 1;
	/* background: yellow; */
}

footer {
	margin: 2px;
	padding-top: 10px;
	background: purple;
	color: white;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select:text;
}
footer > p {
	text-align: center;
}

.date-selector {
	height: 50px;
	max-width: 320px;
	margin: 0px auto;
	border-radius: 25px;
	margin-bottom: 20px;
	font-size: 1.5rem;
	border: 1px solid lightgrey;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.date-selector > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prev,
.next {
	width: 65px;
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
	background: rgb(241, 241, 241);
	color: #444;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.filter p {
	margin: 5px;
	padding: 12px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.set {
	background: yellow;
}

table {
	border-collapse: collapse;
}

.card {
	margin: 0px 10px 30px 10px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	background: #e7e7e7;
}

.card-head {
	padding: 5px 10px;
	margin-bottom: 10px;
	background: #555;
	background: #2d3035;
	background: #525761;

	color: white;
}

.card-head .name {
	font-size: 1.25rem;
}

.card-info {
	margin: 5px;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
	background: #dbdada;
	border-radius: 20px;
}

.card-body {
	padding: 10px;
}

.card table {
	border-radius: 5px;
	overflow: hidden;
}

.card td {
	padding: 5px 15px;
	min-width: 30px;
	text-align: center;
	/* border: 1px solid #bbb; */
	font-size: 1.2rem;
	background: rgb(221, 220, 220);
}

.first-text {
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}
.first {
	border-bottom: 1px solid lightgrey;
}
.second-text {
	background: rgb(189, 189, 189);
	border-right: 1px solid lightgrey;
}
.second {
	background: #7c3333;
}

.card-COVISHIELD .type {
	color: teal;
}

.card-COVAXIN .type {
	color: rgb(173, 185, 6);
}
.card-plus18 .age {
	color: orangered;
}
.card-plus45 .age {
	color: dodgerblue;
}

.add {
	font-size: 0.8rem;
	/* color: lightgrey; */
	display: none;
}

.nodata {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: crimson;
	transition: all 2s ease-in-out;
}

.type {
	font-weight: 800;
}

.age {
	font-weight: 800;
}

.card .avl {
	font-weight: bold;
	background: rgba(255, 255, 0, 0.733);
}

.data-source {
	padding: 10px;
	font-size: 1rem;
}


.nodata,
.fetching {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.hidden {
	display: none;
}

.collapsed {
	height: 0px;
	overflow: hidden;
	transition: all 5s ease-in-out;
}

.counter {
	/* background:yellow; */
	padding: 10px;
}

.contact{
	width:80%;
	padding:5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background:yellow; */
	border-top:1px solid rgb(160, 1, 160);
	font-size:0.75rem;
}
.contact-me{
	margin:5px 20px;
	padding:5px 10px;
	border-radius:5px;
	background:rgb(248, 248, 139);
	text-decoration: none;
}

